@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/ProximaNova-Reg.otf');
}
html {
  font-family: 'Proxima Nova' !important;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  overflow: hidden;
}
body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  background-color: #f1f4f5 !important;
  height: 100% !important;
  overflow: auto;
}
/* ::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
} */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(91, 89, 89);
}
#react-paginate ul {
  display: inline-block;
  margin-left: 20px;
  padding-left: 0;
}

#react-paginate li {
  display: inline-block;
  border: 1px solid rgb(224, 224, 224);
  color: #000;
  cursor: pointer;
  margin-right: 3px;
  border-radius: 5px;
  margin-bottom: 5px;
}

#react-paginate li a {
  padding: 2px 5px;
  display: inline-block;
  color: #000;
  outline: none;
}

#react-paginate li.active {
  background: rgb(224, 224, 224);
  outline: none;
}

#react-paginate li.active a {
  color: rgb(87, 140, 255);
  outline: none;
}

#react-paginate .break a {
  cursor: default;
}

.tariffTooltip {
  background-color: white !important;
  color: black  !important;
  border-radius: 5px;
  padding: 0px !important;
  width: 150px;
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.28)
}

.tariffTooltip .tariffTooltip-tariff-name {
  background-color: #f1f4f5;
  margin: 0px;
  padding: 7px 5px;
  font-weight: bold;
  border-bottom: 1px solid #cccecf;
}

.tariffTooltip .tariffTooltip-info-container {
  padding: 7px 5px;
}

.tariffTooltip .tariffTooltip-info-container .tariffTooltip-info-child-container .indented {
  padding-left: 10px;
}